<h1>Post Title</h1>
<%#= image_tag('Faker::LoremPixel.image("50x60")') %>
<p><%= Faker::Lorem.paragraph(50) %></p>

<h4>Post Date</h4>

  <i class="fa fa-heart-o" aria-hidden="true"></i>
  <h3>456</h3>
  <i class="fa fa-bookmark-o" aria-hidden="true"></i>

  <h2>More Articles</h2>
