/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "font-awesome-sprockets";
 @import "font-awesome";

body {
  padding-top: 70px;
}

.navbar-toggle {
  border: none;
  margin-right: 7px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.posts-icons {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin-top: 5px;
}

.likes {
  display: inline-flex;
}

.likes > h4 {
  margin-top: 0;
  margin-left: 10px;
}

.author-container {
  display: flex;
}

.author-container > img, .comment > img {
  width: 100px;
  height: 100px;
}

.author-profile {
  // padding-top: 10px;
  padding-left: 20px;
}

.author-profile h3 {
  margin-top: 10px;
}

.comments-container {
  margin-top: 20px;
}

.comment {
  display: inline-flex;
}
//
// .comment-info {
//   flex-wrap: wrap;
// }


// .post-main > .posts-icons {
//   margin-top:
// }
// .post-main img {
//   margin-left: -63px;
// }
